streamlit
streamlit-folium
pandas==2.1.4
numpy
requests
PyMuPDF
folium
osmnx
pydeck
trimesh
shapely
pyproj
selenium
langchain-google-vertexai
google-cloud-aiplatform
vertexai
open3d
matplotlib
geopandas
mapbox_earcut
pvlib
rtree
pytesseract
Pillow
tesseract-ocr