streamlit
streamlit-folium
folium
pandas==2.1.4
numpy
requests
osmnx
pydeck
trimesh
shapely
pyproj
google-genai
matplotlib
geopandas
pyogrio
pvlib
rasterio
pyvista
scipy
psutil
urllib3
affine
rtree
mapbox_earcut
open3d
PyMuPDF